.Container {
  width: 1000px;
  margin: 0 auto;
}

Ul {
  display: inline-block;
  margin-bottom: 30px;
  padding: 0;
}

li {
  display: inline-block;
}

.Link {
  color: black;
  text-decoration: none;
  background: lightgrey;
  margin: 10px;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 7px;
}

.active {
  background: #0a53be;
}